.bread
    .container.bread-flex
        p.bread-title new arrivals
        .bread-crumbs-wrapper
            ul.bread-crumbs
                li.bread-crumbs-item
                    a home
                li.bread-crumbs-item /
                    a men
                li.bread-crumbs-item.bread-crumbs-item_active /
                    span new arrivals