footer.footer
    .footer-top
        .container
            .footer-top-wrapper
                .footer-col1
                    a.logo-link(href="index.html")
                        img.logo-img(src="img/logo.png")
                        span.logo-text_black bran
                        span.logo-text_red d
                    p.footer-top-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet atque aut consectetur consequatur, deleniti dignissimos enim impedit maxime neque nobis odio pariatur porro, quas repudiandae tempora totam veniam veritatis?
                    p.footer-top-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate eum fugiat id iste iusto maiores nemo neque nulla reiciendis. Ab amet atque aut consectetur consequatur.
                .footer-col2
                    span.footer-top-title company
                    ul.footer-top-menu
                        li
                            a(href="#") home
                        li
                            a(href="#") shop
                        li
                            a(href="#") about
                        li
                            a(href="#") how it works
                        li
                            a(href="checkout.html") contact
                .footer-col2
                    span.footer-top-title information
                    ul.footer-top-menu
                        li
                            a(href="#") tearms & condition
                        li
                            a(href="#") privacy policy
                        li
                            a(href="#") how to buy
                        li
                            a(href="#") how to sell
                        li
                            a(href="#") promotion
                .footer-col2
                    span.footer-top-title shop category
                    ul.footer-top-menu
                        li
                            a(href="#") men
                        li
                            a(href="#") women
                        li
                            a(href="#") child
                        li
                            a(href="#") apparel
                        li
                            a(href="#") brows all
    .footer-bottom
        .container
            .footer-bottom-content
                .footer-bottom-left &copy; 2018 brand all rights reserved.
                .footer-bottom-right
                    ul.footer-bottom-menu
                        li
                            a(href="#")
                                i.fab.fa-facebook-f.social-icon
                        li
                            a(href="#")
                                i.fab.fa-twitter.social-icon
                        li
                            a(href="#")
                                i.fab.fa-linkedin-in.social-icon
                        li
                            a(href="#")
                                i.fab.fa-pinterest-p.social-icon
                        li
                            a(href="#")
                                i.fab.fa-google-plus-g.social-icon
