header.header
    .container
        .header-content
            .header-content-left
                a.logo-link(href="index.html")
                    img.logo-img(src="img/logo.png")
                    span.logo-text_black bran
                    span.logo-text_red d
                .search-item
                    .search-item-a Browse
                        .search-item-menu
                            a(href="index.html") HOME
                            a(href="product.html") MEN
                            a(href="#") WOMEN
                            a(href="#") KIDS
                            a(href="#") ACCSESORIES
                            a(href="#") FEATURED
                            a(href="#") HOT DEALS
                    input.search-item-field(type="text" placeholder="Search for Item...")
                    button.search-item-btn(type="submit")
                        i.fas.fa-search.search-item-icon
            .header-content-right
                i.fas.fa-shopping-cart.cart-icon#cart-btn
                span.cart-num
                span.authorization-btn my account
                i.fas.fa-sort-down.authorization-btn-arrow
    include _authorization.pug