.subscribe.margin-top
    .subscribe-bg
        .container.flex
            .subscribe-left
                img.subscribe-img(src='img/subscribe-avatar.png')
                .subscribe-text-wrapper
                    p.subscribe-text "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab amet atque aut consectetur consequatur, deleniti dignissimos enim impedit maxime neque nobis odio pariatur porro, quas repudiandae tempora totam veniam veritatis"
                    p.subscribe-autor bin burhan
                    p.subscribe-location dhaka, bd
                    .subscribe-tab
                    .subscribe-tab.subscribe-tab-active
                    .subscribe-tab
            .subscribe-right
                p.subscribe-form-title subscribe
                p.subscribe-form-discription for our newletter and promotion
                form.subscribe-form
                    input.subscribe-email(type="email" placeholder="Enter Your Email")
                    button.subscribe-btn Subscribe